.layout {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.common {
    background-color: rgb(253, 253, 254);
    
    position: absolute;
}
.header {
    top: 5px;
    right: 5px;
    left: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid rgb(2, 2, 2);
}
.footer {
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 35px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 8px;
    position: fixed;
    border-top: 2px solid rgb(2, 2, 2);
    background-color: antiquewhite;
}
.leftmenu {
    left: 5px;
    top: 114px;
    bottom: 54px;
    width: 55px;
    z-index: 1;
    border-right: 2px solid rgb(2, 2, 2);
}
.rightmenu {
    top: 114px;
    bottom: 54px;
    width: 100px;
    right: 5px; 
    border-left: 2px solid rgb(2, 2, 2);
    padding-left: 5px;
}
.center {
    top: 114px;
    bottom: 54px;
    right: 114px;
    left: 67px;
}

.subheader {
    float: right;
}